# Caso de uso: Análisis de likes de un usuario

Se necesita instalar el facebook sdk

In [ ]:
!pip3 install facebook-sdk

## API Graph de Facebook

La herramienta es extremadamente útil durante el desarrollo de aplicaciones porque hereda todas las configuraciones de su aplicación, incluidos los permisos de inicio de sesión aprobados, las funciones y la configuración de los productos que haya agregado.

Puedes probarlo en el siguiente enlace: [API Graph de Facebook](https://developers.facebook.com/tools/explorer/?classic=0)

In [1]:
import json
import facebook
import requests
import pandas as pd
import numpy as np
from mytoken import *

Acceder a facebook graph

In [2]:
fb_token

'EAAD6S2icqxYBAG4d3dZBQbHgyzh9M247p92OtmVvOV1ZBdwsgV4ZAy8DP2qLaNDXpfRucECbwgyZAiJbFLx2jS5eT22qCnSbWW8dMgZANeBKihYdhnQT0sdWdN44sL7xzdOGhF3GwClWK7zuT4PW1wSVuZAlCa2F35a3NZAq921cHZCdQzZCfGsQPfAanvOCyBtOlX0QNpPmDZBM0ZANcTmGOMd'

In [3]:
graph = facebook.GraphAPI(access_token=fb_token)

In [4]:
type(graph)

facebook.GraphAPI

In [5]:
graph.get_permissions(me)

{'email',
 'pages_read_engagement',
 'pages_show_list',
 'public_profile',
 'user_age_range',
 'user_birthday',
 'user_gender',
 'user_posts'}

Acceder al perfil del usuario

In [6]:
perfil = graph.get_object(me, fields='id,\
email,\
first_name,\
last_name,\
name,\
birthday,\
age_range,\
gender')

In [7]:
type(perfil)

dict

In [8]:
perfil

{'id': '3079468219040537',
 'email': 'yack20.20@gmail.com',
 'first_name': 'Jack',
 'last_name': 'Cruz Mamani',
 'name': 'Jack Yefri Cruz Mamani',
 'birthday': '09/03/2001',
 'age_range': {'max': 20, 'min': 18},
 'gender': 'male'}

Uso json.dumps para una mejor visualización

In [9]:
print(json.dumps(perfil, indent=5))

{
     "id": "3079468219040537",
     "email": "yack20.20@gmail.com",
     "first_name": "Jack",
     "last_name": "Cruz Mamani",
     "name": "Jack Yefri Cruz Mamani",
     "birthday": "09/03/2001",
     "age_range": {
          "max": 20,
          "min": 18
     },
     "gender": "male"
}

Convertir a pandas.dataframe

In [10]:
pd.DataFrame(perfil)

,id,email,first_name,last_name,name,birthday,age_range,gender
max,3079468219040537,yack20.20@gmail.com,Jack,Cruz Mamani,Jack Yefri Cruz Mamani,09/03/2001,20,male
min,3079468219040537,yack20.20@gmail.com,Jack,Cruz Mamani,Jack Yefri Cruz Mamani,09/03/2001,18,male

In [11]:
df1 = pd.DataFrame.from_dict(perfil, orient='index')    # df1=perfil
df1

                                 0
id                3079468219040537
email          yack20.20@gmail.com
first_name                    Jack
last_name              Cruz Mamani
name        Jack Yefri Cruz Mamani
birthday                09/03/2001
age_range   {'max': 20, 'min': 18}
gender                        male

In [12]:
df1.T

,id,email,first_name,last_name,name,birthday,age_range,gender
0,3079468219040537,yack20.20@gmail.com,Jack,Cruz Mamani,Jack Yefri Cruz Mamani,09/03/2001,"{'max': 20, 'min': 18}",male