# 03 - Pandas Data Frame 

by [Alejandro Correa Bahnsen](albahnsen.com/)

version 0.1, Feb 2016

## Part of the class [Practical Machine Learning](https://github.com/albahnsen/PracticalMachineLearningClass)



This notebook is licensed under a [Creative Commons Attribution-ShareAlike 3.0 Unported License](http://creativecommons.org/licenses/by-sa/3.0/deed.en_US). Special thanks goes to [Donne Martin](http://donnemartin.com) and Wes McKinney's [Python for Data Analysis](http://www.amazon.com/Python-Data-Analysis-Wrangling-IPython/dp/1449319793) book.

In [16]:
!pip freeze    # which modules you0ve installed

anyio @ file:///D:/bld/anyio_1637703527080/work/dist
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1619128689661/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1636021466039/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
brotlipy @ file:///D:/bld/brotlipy_1636012439160/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046306023/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1639699494546/work
cycler==0.11.0
debugpy @ file:///D:/bld/debugpy_1636043475787/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
facebook-sdk==3.1.0
fonttools==4.28.5
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1639976321829/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
imutils==0.5.4
ipykernel @ file:///C:/ci/ipykernel_1633527406033/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1638470576392/work
ipython-genutils==0.2.0
jedi @ file:///D:/bld/jedi_1637175334802/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib==1.1.0
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1640026479618/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-core @ file:///D:/bld/jupyter_core_1636814429283/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1639084645710/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1639150690547/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1639404907821/work
kiwisolver==1.3.2
MarkupSafe @ file:///D:/bld/markupsafe_1635833748820/work
matplotlib==3.5.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mediapipe==0.8.9
mistune @ file:///D:/bld/mistune_1635844820103/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///D:/bld/nbconvert_1636897379101/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numpy==1.21.5
opencv-contrib-python==4.5.4.58
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.4.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1639065841292/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyrsistent @ file:///D:/bld/pyrsistent_1636052800196/work
PySocks @ file:///D:/bld/pysocks_1635862618120/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pywin32==302
pywinpty==0.5.7
pyzmq @ file:///D:/bld/pyzmq_1635877471210/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.11.2
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///D:/bld/sniffio_1635844851294/work

In [17]:
# Instalar pandas
!pip install pandas

# actualizar (upgrade)
!pip install --upgrade

terminado==0.9.4
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl==3.0.0
tornado @ file:///D:/bld/tornado_1635819780833/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832912576/work
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
Requirement already satisfied: pandas in c:\users\pc\.conda\envs\especializacion_analytics\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in c:\users\pc\.conda\envs\especializacion_analytics\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\pc\.conda\envs\especializacion_analytics\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pc\.conda\envs\especializacion_analytics\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\.conda\envs\especializacion_analytics\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

ERROR: You must give at least one requirement to install (see "pip help install")

In [18]:
import pandas as pd

In [19]:
pd.__version__

'1.3.5'

In [20]:
ser1 = pd.Series([1, 1, 2, -3, -5, 13, 1.2, 'Hola'])

print(ser1, type(ser1), len(ser1), sep='\n\n')

0       1
1       1
2       2
3      -3
4      -5
5      13
6     1.2
7    Hola
dtype: object

<class 'pandas.core.series.Series'>

8

## Series

A Series is a one-dimensional array-like object containing an array of data and an associated array of data labels.  The data can be any NumPy data type and the labels are the Series' index.

### Create a serie

In [8]:
ser1 = pd.Series([1, 1, 2, -3, -5, 13, 1.2, 'Hola'])

#ser1.astype(str)
print(ser1)

0       1
1       1
2       2
3      -3
4      -5
5      13
6     1.2
7    Hola
dtype: object

In [9]:
list(ser1.values)

[1, 1, 2, -3, -5, 13, 1.2, 'Hola']

Index objects are immutable and hold the axis labels and metadata such as names and axis names.

In [10]:
# Create a serie with a custom index

ser2 = pd.Series([1, 1, 2, -3, 6], index=['a', 'b', 'c', 'd', 'e'])
ser2

a    1
b    1
c    2
d   -3
e    6
dtype: int64

In [11]:
# A series is like a fixed-length, ordered dict
# Create a series by passing in a dict

dict1 = {'foo':100, 'bar':200, 'baz':300}
dict1

{'foo': 100, 'bar': 200, 'baz': 300}

In [12]:
ser3 = pd.Series(dict1)
ser3

foo    100
bar    200
baz    300
dtype: int64

### Get index/values of the Series

Get indexes of serie.

In [13]:
indpar = [ indice for indice in list(ser1.index.values) if indice%2 == 0]
print(indpar)

[0, 2, 4, 6]

Get single value from serie.

In [14]:
ser2[4]

6

In [15]:
ser2['e']

6

In [16]:
ser2[4] == ser2['e']

True

Get multiple values from series.

In [17]:
print(ser1)
print(indpar)

0       1
1       1
2       2
3      -3
4      -5
5      13
6     1.2
7    Hola
dtype: object
[0, 2, 4, 6]

In [18]:
ser1[indpar]

0      1
2      2
4     -5
6    1.2
dtype: object

Get a slice from a Series:

In [19]:
ser1[1:4]

1     1
2     2
3    -3
dtype: object

Get a slice from a Series with labels (note the end point is inclusive).

In [20]:
ser2['a':'c']

a    1
b    1
c    2
dtype: int64

<div class="alert alert-info">
    <strong>Tip:</strong> Also you can assign values with slicing.
</div>

In [21]:
ser2['a':'b'] = 0

Get a set of specific values from a Series by passiing in a list

In [22]:
ser2[['c', 'a','b']]

c    2
a    0
b    0
dtype: int64

¿What happen if the index is not in the Serie's index?

In [23]:
ser2[ [index for index in ['c', 'a', 'z'] if index in ser2.index.values] ]

c    2
a    0
dtype: int64

Get values based on a filter (greater than 0)

In [24]:
ser2 > 0

a    False
b    False
c     True
d    False
e     True
dtype: bool

In [25]:
ser2[ser2 > 0]

c    2
e    6
dtype: int64

### Math operations

if we multyply a list we the list n times.

In [26]:
a = [1, 2, 3]

print('a:', a*3)
print('type:', type(a))

a: [1, 2, 3, 1, 2, 3, 1, 2, 3]
type: <class 'list'>

In [27]:
# Scalar multiply

ser2 * 2

a     0
b     0
c     4
d    -6
e    12
dtype: int64

In [28]:
type(ser2)    # Structure

pandas.core.series.Series

In [29]:
ser2.dtype    # Values inside

dtype('int64')

In [30]:
import numpy as np

In [31]:
# Apply a numpy math function:

np.exp(ser2)    #e^x

a      1.000000
b      1.000000
c      7.389056
d      0.049787
e    403.428793
dtype: float64

<div class="alert alert-warning">
    <strong>Warning:</strong> Cuidado con las operaciones con Nan.
</div>

In [32]:
20 + np.nan

nan

In [33]:
ser3

foo    100
bar    200
baz    300
dtype: int64

In [34]:
ser4 = pd.Series({'bar':100, 'foo':50, 'xyz':1})
ser4

bar    100
foo     50
xyz      1
dtype: int64

Adding Series objects results in the union of index pairs if the pairs are not the same, resulting in NaN for indices that do not overlap:

In [35]:
ser3 + ser4

bar    300.0
baz      NaN
foo    150.0
xyz      NaN
dtype: float64

Example with random values

In [36]:
np.random.seed(0)
ser5 = pd.Series( np.random.randn(5),
                index=['a','b','c','d','e'])
ser5

a    1.764052
b    0.400157
c    0.978738
d    2.240893
e    1.867558
dtype: float64

In [37]:
np.random.seed(1)
ser6 = pd.Series(np.random.randn(5),
                index=['a','c','e','f','g'])
ser6

a    1.624345
c   -0.611756
e   -0.528172
f   -1.072969
g    0.865408
dtype: float64

In [38]:
ser5 + ser6

a    3.388398
b         NaN
c    0.366982
d         NaN
e    1.339386
f         NaN
g         NaN
dtype: float64

Set a fill value instead of NaN for indices that do not overlap.

In [39]:
ser5.add(ser6, fill_value=0)

a    3.388398
b    0.400157
c    0.366982
d    2.240893
e    1.339386
f   -1.072969
g    0.865408
dtype: float64

Extra:

In [40]:
np.random.rand(9)

array([0.41919451, 0.6852195 , 0.20445225, 0.87811744, 0.02738759,
       0.67046751, 0.4173048 , 0.55868983, 0.14038694])

In [60]:
np.random.randn(9)

array([-2.3015387 ,  0.56434487, -0.56651023,  0.7299756 ,  0.37299379,
        0.53381091, -0.0919733 ,  1.91382039,  0.33079713])

<div class="alert alert-warning">
    <strong>Tip:</strong> The main difference between <code>rand</code> and <code>randn</code> is the first gives values from a uniform distribution from [0, 1>. The second (latter) gives values from standart normal distribution and accepts sigma and mu values. 
</div>

### Set value(s)/index(es)

In [42]:
dict1

{'foo': 100, 'bar': 200, 'baz': 300}

In [43]:
# Re-order a Series by passing in an index (index not found are NaN).

index = ['foo', 'bar', 'baz', 'xyz']
ser4 = pd.Series(dict1, index=index)
ser4

foo    100.0
bar    200.0
baz    300.0
xyz      NaN
dtype: float64

In [44]:
# ¿What happen if there is extra item in a dict not contempled in index?
# They obey the index list

dict2 = {'foo':100, 'bar':200, 'baz':300, 'rop':400}

aux = pd.Series(dict2, index=index)
aux

foo    100.0
bar    200.0
baz    300.0
xyz      NaN
dtype: float64

In [45]:
ser4.name = "serie's name"    # Name a Series
ser4.index.name = "label"     # Name index column

In [46]:
ser4

label
foo    100.0
bar    200.0
baz    300.0
xyz      NaN
Name: serie's name, dtype: float64

In [47]:
# Rename a Series index in place

ser4.label = ['foo', 'br', 'bz', 'qx']
ser4

label
foo    100.0
bar    200.0
baz    300.0
xyz      NaN
Name: serie's name, dtype: float64

Set values with slice notation (numbers & string).
Note string index, end point is inclusive.

In [48]:
ser4

label
foo    100.0
bar    200.0
baz    300.0
xyz      NaN
Name: serie's name, dtype: float64

In [49]:
ser4[0:2] = 1000
ser4

label
foo    1000.0
bar    1000.0
baz     300.0
xyz       NaN
Name: serie's name, dtype: float64

In [50]:
ser4['foo':'baz'] = 2000
ser4

label
foo    2000.0
bar    2000.0
baz    2000.0
xyz       NaN
Name: serie's name, dtype: float64

### General operations on Series

#### NaN (nulo)

In [51]:
ser4

label
foo    2000.0
bar    2000.0
baz    2000.0
xyz       NaN
Name: serie's name, dtype: float64

In [52]:
# Check for NaN

pd.isnull(ser4)

label
foo    False
bar    False
baz    False
xyz     True
Name: serie's name, dtype: bool

In [53]:
~ pd.isnull(ser4)

label
foo     True
bar     True
baz     True
xyz    False
Name: serie's name, dtype: bool

In [54]:
# Check for NaN with Pandas method

ser4[~pd.isnull(ser4)]

label
foo    2000.0
bar    2000.0
baz    2000.0
Name: serie's name, dtype: float64

In [55]:
# Check for NaN with Numpy method

ser4.isnull().sum()

1

In [56]:
ser4.isnull()

label
foo    False
bar    False
baz    False
xyz     True
Name: serie's name, dtype: bool

In [57]:
# ¿What this result mean?
# El 25% del total de data es nulo

ser4.isnull().mean()

0.25

#### Sorting

Sort a series by its index

In [63]:
ser4

label
foo    2000.0
bar    2000.0
baz    2000.0
xyz       NaN
Name: serie's name, dtype: float64

In [65]:
ser4.sort_index(ascending=False)

label
xyz       NaN
foo    2000.0
baz    2000.0
bar    2000.0
Name: serie's name, dtype: float64

Sort a Series by its values:

In [69]:
ser4.sort_values(ascending=True)

label
foo    2000.0
bar    2000.0
baz    2000.0
xyz       NaN
Name: serie's name, dtype: float64

<div class="alert alert-warning">
    <strong>Warning:</strong> When sorting a Series with some NaN values it will be left to the end.
</div>

#### Ranking

Ranking is similar to numpy.argsort except that ties are broken by assigning each group the mean rank:

In [8]:
ser7 = pd.Series([7, -5, 7, 4, 2, 0, 4, 7])
ser7

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
7    7
dtype: int64

In [11]:
ser7.sort_values()

1   -5
5    0
4    2
3    4
6    4
0    7
2    7
7    7
dtype: int64

In [10]:
ser7.rank().sort_values()

1    1.0
5    2.0
4    3.0
3    4.5
6    4.5
0    7.0
2    7.0
7    7.0
dtype: float64

Rank a Series according to when they appear in the data.

In [13]:
ser7.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
7    8.0
dtype: float64

Rank a Series in descending order, using the maximum rank for the group.

In [14]:
ser7.rank(ascending=False, method='max')

0    3.0
1    8.0
2    3.0
3    5.0
4    6.0
5    7.0
6    5.0
7    3.0
dtype: float64

#### Indexing with Duplicate Values

Labels do not have to be unique in Pandas:

In [24]:
ser2 = pd.Series(range(5), index=['foo', 'foo', 'bar', 'bar', 'baz'])
ser2

foo    0
foo    1
bar    2
bar    3
baz    4
dtype: int64

In [25]:
ser2.index.is_unique

False

Select Series elements:

In [26]:
ser2['foo']

foo    0
foo    1
dtype: int64